ul {
  list-style-type: none;
}
* {
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

.glass {
  background: #ffffff33; /* semi-transparent */
  backdrop-filter: blur(10px); /* blur behind */
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
}

.line {
  border: 0;
  height: 1px;
  background: #fff;
  opacity: 1;
}

.hoverstate:hover {
  border: 1.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-color: rgba(244, 243, 241,0.1);
}

#tsparticles {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  z-index: -1 !important;
}


@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
